/*-- кнопки фільтра  --*/

.filters {
    padding-top: 94px;
    padding-bottom: 94px;

&_list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&_item:not(:last-child) {
    margin-right: 8px;
}

&__button {
    padding: 6px 22px;
    border-radius: 4px;
    border-width: 0;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    background: $team-button-color;
    color: $primery-text-color;
    font-family: $standart;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__button:focus,
&__button:hover {
    color: $absolut-white-header;
    background-color: $hover-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}}