/*--оформлення першої частини логотипу--*/


.logo {
    color: $primery-text-color;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.03em;
    
@media screen and (min-width: 1200px) {
    & {
    font-size: 26px;
}}   
          
&__web {
    color: $hover-text-color;
}

footer & {
    color: $absolut-white-header;
}}

@media screen and (max-width: 1200px) {
    .location .logo {
        display: block;

    }
  }
