/* Our partners */
.our-partners {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.partners {
  padding-bottom: 60px;
  padding-top: 60px;

  &__text {
    margin-top: 0px;
    margin-bottom: 30px;
    font-style: Bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    & {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__text {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  &__button {
    display: flex;
    width: auto;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: solid 1px $primery-text-color;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.25);
    background-color: $absolut-white-header;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 486px) {
    &__button {
      width: 210px;
      height: 92px;
    }
  }

  @media screen and (min-width: 768px) {
    &__button {
      width: 226px;
      height: 92px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__button {
      width: 170px;
      height: 92px;
    }
  }

  &__icon {
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover,
  &__button:hover &__icon,
  &__button:focus,
  &__button:focus &__icon {
    fill: #03a9f4;
    border-color: $hover-text-color;
  }
}