/*--Оформлення карточки твару--*/

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    & {
      justify-content: left;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (min-width: 480px) {
    &__item {
      width: 450px;
    }
  }

  @media screen and (min-width: 768px) {
    &__item {
      width: 354px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__item {
      width: 370px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__side {
    position: relative;
    overflow: hidden;
    transition: color 2250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  @media screen and (min-width: 480px) {
    &__image {
      width: 450px;
      height: 294px;
    }
  }

  @media screen and (min-width: 768px) {
    &__image {
      width: 354px;
      height: 294px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__image {
      width: 370px;
    }
  }

  &__name {
    margin: 0px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    color: $primery-text-color;
  }

  &__type {
    padding-top: 4px;
    color: $secondary-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }

  &__text {
    padding: 20px 24px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    flex-grow: 1;
  }

  &__item:hover .project__side .overlay,
  &__link:focus .project__side .overlay {
    transform: translateY(0%);
  }

  &__item:hover,
  &__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 4px 4px;
  }
}

/*----інший бік карточки ----*/

.project__side .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 294px;
  color: $absolut-white-header;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(102%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__text {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }
}
