::after,
::before {
  box-sizing: border-box;
}

body {
  font-family: $standart;
  color: $primery-text-color;
  background-color: $mine-fone-color;
  margin: 0;
}

.header {
  position: relative;
  display: block;
  border-bottom: 1px solid #ececec;
}

footer {
  padding: 60px 0px;
  background-color: $title-footer-dark;
}

.header,
.benefits,
.section-work,
main {
  background-color: $absolut-white-header;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    & {
      width: 480px;
    }
  }

  @media screen and (min-width: 768px) {
    & {
      width: 768px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      width: 1200px;
    }
  }
}

li {
  list-style-type: none;
}

ul,
h1,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header .container {
 display: flex;
 width: auto;
  align-items: center;
  background-color: $absolut-white-header;
}

    @media screen and (min-width: 768px) {
      .header .container {
        justify-content: center;;
      }
    }