
  $primery-text-color: #212121;
  $secondary-text-color: #757575;
  $hover-text-color: #2196f3;
  $absolut-white-header: #ffffff;
  $title-footer-dark: #2f303a;
  $mine-fone-color: #e5e5e5;
  $team-button-color: #f5f4fa;
  $contact-data-color: rgba(255, 255, 255, 0.6);
  $standart: "Roboto", sans-serif;
  $form_text: rgba(117, 117, 117, 1);
     